<IfModule mod_rewrite.c>
	RewriteEngine On

	# Prevent Direct Access to files
	<FilesMatch "(?i)((\.ini|\.log|(?<!robots)\.txt))">
	 Order deny,allow
	 Deny from all
	</FilesMatch>

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(index\.php|sitemap\.xml)

	RewriteRule .*$ index.php?/$1 [L]
	RewriteCond %{HTTPS} !off
	RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} 
</IfModule>
