

body { 
    border-top: 4px solid #51788D;
	background-image: url(../img/frontend/bgp1.png);
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-align: left;
}


a:hover { text-decoration: none; }
::-moz-selection { background: #51788D; color: #fff; text-shadow: none; }
::selection { background: #51788D; color: #fff; text-shadow: none; }

/***** navbar *****/

.navbar-custom-brand {
    float: left;
    padding: 15px 15px 15px 45px; 
    font-family: 'FontAwesome';
    font-weight: lighter;
	font-size: 24px;
    line-height: 20px;
	margin: 0px 15px;
    height: 50px;
    background: url('//cifullcalendar.com/assets/img/logo40x40.png') left top no-repeat;
} 

.navbar-custom-brand:hover {
	text-decoration: none;
}

a .navbar-custom-brand { 
    text-decoration: none;
}

.navbar-right {
    margin-left: 2px;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
 
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}
 
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}  
 
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
  border: none;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}

/***** Page Content Description *****/

.page {
    margin: 0 auto;
}

.page-pattern {
    margin: 0 auto;
    background-image: url(../img/frontend/bgp2.png);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.page-background {
    margin-top: 80px;
    padding-bottom: 40px;
    background: #2d2d2d;  
    background: rgba(255, 255, 255, 0.92);
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.page-title {
    margin-top: 25px;
}

.page-title h1 {
    padding-right: 40px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    line-height: 58px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.page-title div.page-description {
    margin-top: 20px;
    padding-right: 40px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}


/***** Page Content *****/

.about-us, .features, .gallery {
    margin-top: 70px;
}

.about-us h3, .features h3, .gallery h3 {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
}

.features h3 {
    margin-left: 0;
}

.about-us p, .features p, .gallery p {
    padding-left: 50px;
    line-height: 30px;
}

.features p {
    padding-left: 0;
    padding-right: 40px;
}

.single-feature { margin-bottom: 10px; }

.single-feature:hover i { color: #51788D; }

.feature-icon i {
    display: inline-block;
    margin-top: 13px;
    font-size: 70px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.feature-text h4 { font-size: 24px; font-weight: 400; line-height: 28px; }


/***** Gallery *****/

.gallery-images {
    margin-top: 15px;
    padding-left: 50px;
}

.gallery-images .img-wrapper {
    position: relative;
    display: inline-block;
    margin: 13px 10px 0 0;
    cursor: pointer;
}


.gallery-images .img-background i {
    font-size: 40px;
    color: #fff;
    line-height: 100px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.gallery-images img {
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.carousel-control.right, .carousel-control.left  {
	background-image: none !important; 
}



/***** Footer *****/

footer {
    margin: 60px 0;
    color: #aaa;
}

footer h3 {
    margin-left: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

footer p { line-height: 30px; }

footer a {
    color: #ddd;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
footer a:hover { color: #aaa; }
 
.copyright {
    margin-top: 20px;
    text-align: center;
}


/***** Media Queries *****/

@media (min-width: 980px) and (max-width: 1200px) {

    .page { width: 90%; height: auto; } 
    .feature-icon i { font-size: 60px; } 
    .gallery-images img { width: 90px; } 

}

@media (min-width: 768px) and (max-width: 979px) {
	
	body {  } 
	
    .calendar { width: 90%; height: auto; }  
    .feature-icon i { font-size: 42px; } 
    .gallery-images img { width: 70px; } 
    .pricing { margin-top: 15px; } 
    .pricing-table { float: none; margin-top: 0; margin-bottom: 15px; }

    footer h3, .contact-us p { margin-left: 0; }
 
}

@media (max-width: 767px) {

    body { padding-left: 0; padding-right: 0; }  
	
    .calendar { width: 90%; height: auto; margin-left: auto; margin-right: auto; } 
	.page-background { width: 95%; margin-left: auto; margin-right: auto; } 
    .page-title h1, .page-title div.page-description { padding-left: 40px; } 
    .page-title div.call-to-action { text-align: center }  
    .features { margin-top: 50px; } 
    .about-us h3, .features h3, .gallery h3, .feature-text h4 { margin-left: 50px; margin-right: 50px; } 
    .feature-text h4 { line-height: 36px; } 
    .about-us p, .features p, .gallery p { padding-left: 50px; padding-right: 50px; } 
    .feature-icon { display: none; } 
    .gallery-images { padding-right: 50px; } 
    .gallery-images img { width: 90px; }   

    footer { padding-top: 0; } 
    footer h3 { margin-top: 40px; } 
    footer h3, .copyright p { margin-left: 50px; margin-right: 50px; }
 

}
 

