
body, html {
    background-color: #222;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}


/***** navbar *****/

.navbar-custom-brand {
    float: left;
    padding: 15px 15px 15px 45px; 
    font-family: 'FontAwesome';
    font-weight: lighter;
	font-size: 24px;
    line-height: 20px;
	margin: 0px 15px;
    height: 50px;
    background: url('//cifullcalendar.com/assets/img/logo40x40.png') left top no-repeat;
} 

.navbar-custom-brand:hover {
	text-decoration: none;
}

a .navbar-custom-brand { 
    text-decoration: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #222!important;
}
.nav  a:hover, .nav a:focus {
	background-color: transparent!important;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}


/***** sidebar *****/

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid;
}

.sidebar ul li a.active {
    background-color: #00172C; 
}
.sidebar ul li a:hover {
    background-color: #00172C;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

 
/***** button *****/

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
 
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

 
/***** Tables *****/

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

 
/***** Grid *****/

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}
 
.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}


/***** Panel *****/

.panel {
	position: relative;  
}
.panel-heading .btn-group {
    /* margin-top: -7px; */
}
.panel-footer .btn-group {
    margin-top: -7px;
} 

.panel-mocha {
    border-color: #493D26;
}

.panel-mocha .panel-heading {
    border-color: #493D26;
    color: #fff;
    background-color: #493D26;
}

.panel-mocha a {
    color: #493D26;
}

.panel-mocha a:hover {
    color: #493D26;
}

.panel-mocha {
    border-color: #493D26;
}

.panel-blue {
    border-color: #337ab7;
}

.panel-blue .panel-heading {
    border-color: #337ab7;
    color: #fff;
    background-color: #337ab7;
}

.panel-blue a {
    color: #337ab7;
}

.panel-blue a:hover {
    color: #0099FF;
}

.panel-blue {
    border-color: #337ab7;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-user {
    padding: 5px 15px; 
    max-height: 470px;
    overflow-y:scroll; 
}

.list-group-item-text { 
	line-height: 0.3 !important;
} 
/***** Moment *****/

.hero{
	padding:30px 0;
	border-bottom:1px solid rgba(34, 34, 34, 0.2);
}

.is-moment .hero{
	background-color:#61b2a7;
	box-shadow:inset 0 10px 10px #61b2a7;
}

.is-moment-timezone .hero{
	background-color:#4e7cad;
	box-shadow:inset 0 10px 10px #4e7cad;
}
.hero-circle{
	width: 75px;
	height: 75px;
	margin:0 auto;
	position:relative;
	border:4px solid #fff;
	border-radius:50%;
	box-shadow: 0 1px 1px rgba(34, 34, 34, 0.3),inset 0 1px 8px rgba(34, 34, 34, 0.3);
}
.is-moment .hero-circle{
	background-color:#61b2a7;
}
.is-moment-timezone .hero-circle{
	background-color:#4e7cad;
}
.hero-face{
	width:100%;
	height:100%;
}
.hero-face:after{
	position:absolute;
	top:50%;
	left:50%;
	width:12px;
	height:12px;
	margin:-6px 0 0 -6px;
	background:#fff;
	border-radius:6px;
	content:"";
	display:block;
}
.hero-hour{
	width:0;
	height:0;
	position:absolute;
	top:50%;
	left:50%;
	margin:-4px 0 -4px -25%;
	padding:4px 0 4px 25%;
	background:#fff;
	-webkit-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	transform-origin:100% 50%;
	border-radius:4px 0 0 4px;
	}
.hero-minute{
	width:0;
	height:0;
	position:absolute;
	top:50%;
	left:50%;
	margin:-40% -3px 0;
	padding:40% 3px 0;
	background:#fff;
	-webkit-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	transform-origin:50% 100%;
	border-radius:3px 3px 0 0;
}
.hero-second{
	width:0;
	height:0;
	position:absolute;
	top:50%;
	left:50%;
	margin:-40% -1px 0 0;
	padding:40% 1px 0;
	background:#fff;
	-webkit-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	transform-origin:50% 100%;
}
.hero-ampm{
	width:0;
	height:0;
	position:absolute;
	top:70%;
	left:35%;
	margin:-40% -1px 0 0;
	padding:40% 1px 0;
	color: #fff; 
}
.hero-oneline,.hero-title{
	text-align:center;
	color:#fff;
	text-shadow:1px 1px 2px rgba(34, 34, 34, 0.5);
}

.hero-oneline h1,
.hero-title h1{
	font-size:60px;margin:0;
}
.hero-oneline h1 span,.hero-title h1 span{
	font-size:0.5em;
}
.is-moment .hero-oneline h1 span,.is-moment .hero-title h1 span{
	color:#b0d8d3;
}
.is-moment-timezone .hero-oneline h1 span,.is-moment-timezone .hero-title h1 span{
	color:#a6bdd6;
}
.hero-oneline h2,.hero-title h2{
	font-size:24px;margin:0;
}
.hero-oneline{
	position:relative;
	padding:10px 20px;
	text-align:left;
}
.hero-oneline h1{
	font-size:32px;
}
.hero-centered{
	max-width:1024px;
	margin:0 auto;
}
 
 /***** GMaps *****/ 

 
.map {
	min-height: 300px;
	z-index: 1000;
	border: 1px solid #CECECE;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: none;
	border-bottom: 1px #CCC dashed; 
	margin-top: 5px; 
	padding-top: 3px;
}
.mapHidden {
	display: none;
}
#gmapsCanvas {  
	width: none !important;
}
#gmapsCanvas2{  
	width: none !important;
}
